@import url(https://fonts.googleapis.com/css2?family=Prosto+One&display=swap);

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

* {
    margin: 0;
    padding: 0
}

a {
    color: #ff63ce
}

.App {
    font-family: Prosto One, cursive;
    min-height: 100%;
    overflow-wrap: break-word;
    text-align: center
}

.Header {
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    background: linear-gradient(90deg,
            #FF4A3D 0%,
            #FF3F5E 35%,
            #ed4276 55%,
            #FF4A3D 100%);
    background-size: 400% 400%;
    color: #fff;
    margin: 0;
    min-height: 100vh;
    padding: 0
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.Header-main {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 60px 0
}

.Header-main-phrase {
    font-size: 48pt;
    margin: 0;
    width: 100%
}

@media only screen and (max-width:600px) {
    .Header-main-phrase {
        font-size: 36pt
    }
}

@media only screen and (max-width:350px) {
    .Header-main-phrase {
        font-size: 18pt
    }
}

.Header-main-text {
    margin: 40px;
    max-width: 500px;
    width: 100%
}


.Header-main-image {
    max-width: 600px;
    width: 90%
}

.Menu {
    color: #fff;
    margin: 0;
    padding: 10px;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%
}

.Menu-title {
    margin: 10px;
    padding: 0
}

@media only screen and (max-height:600px) {
    .Menu {
        position: absolute
    }
}

@-webkit-keyframes animate {
    0% {
        border-radius: 0;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }

    to {
        border-radius: 50%;
        opacity: 0;
        -webkit-transform: translateY(-1000px) rotate(2turn);
        transform: translateY(-1000px) rotate(2turn)
    }
}

@keyframes animate {
    0% {
        border-radius: 0;
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0deg);
        transform: translateY(0) rotate(0deg)
    }

    to {
        border-radius: 50%;
        opacity: 0;
        -webkit-transform: translateY(-1000px) rotate(2turn);
        transform: translateY(-1000px) rotate(2turn)
    }
}

.background {
    height: 100vh;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw
}

.background li {
    -webkit-animation: animate 19s linear infinite;
    animation: animate 19s linear infinite;
    background: hsla(0, 0%, 100%, .2);
    display: block;
    height: 20px;
    list-style: none;
    position: absolute;
    width: 20px
}

.background li:nth-child(0) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    bottom: -152px;
    height: 152px;
    left: 14%;
    width: 152px
}

.background li:first-child {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    bottom: -102px;
    height: 102px;
    left: 2%;
    width: 102px
}

.background li:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    bottom: -126px;
    height: 126px;
    left: 14%;
    width: 126px
}

.background li:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    bottom: -113px;
    height: 113px;
    left: 32%;
    width: 113px
}

.background li:nth-child(4) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    bottom: -118px;
    height: 118px;
    left: 51%;
    width: 118px
}

.background li:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    bottom: -109px;
    height: 109px;
    left: 9%;
    width: 109px
}

.background li:nth-child(6) {
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
    bottom: -167px;
    height: 167px;
    left: 71%;
    width: 167px
}

.background li:nth-child(7) {
    -webkit-animation-delay: 19s;
    animation-delay: 19s;
    bottom: -155px;
    height: 155px;
    left: 21%;
    width: 155px
}

.background li:nth-child(8) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    bottom: -165px;
    height: 165px;
    left: 72%;
    width: 165px
}

.background li:nth-child(9) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    bottom: -102px;
    height: 102px;
    left: 47%;
    width: 102px
}